[submodule "rinari"]
  path = "plugins/rinari"
  url = "https://github.com/technomancy/rinari.git"
[submodule "yasnippet"]
  path = "plugins/yasnippet"
  url = "https://github.com/capitaomorte/yasnippet.git"
[submodule "yasnippets-rails"]
  path = "plugins/yasnippets-rails"
  url = "https://github.com/eschulte/yasnippets-rails.git"
[submodule "mode-compile"]
  path = "plugins/mode-compile"
  url = "https://github.com/emacsmirror/mode-compile.git"
[submodule "rspec-mode"]
  path = "plugins/rspec-mode"
  url = "https://github.com/pezra/rspec-mode.git"
[submodule "coffee-mode"]
  path = "plugins/coffee-mode"
  url = "https://github.com/defunkt/coffee-mode.git"
[submodule "sass-mode"]
  path = "plugins/sass-mode"
  url = "https://github.com/nex3/sass-mode.git"
[submodule "haml-mode"]
  path = "plugins/haml-mode"
  url = "https://github.com/nex3/haml-mode.git"
[submodule "rvm.el"]
  path = "plugins/rvm.el"
  url = "https://github.com/senny/rvm.el.git"
[submodule "textmate.el"]
  path = "plugins/textmate.el"
  url = "https://github.com/defunkt/textmate.el.git"
[submodule "cucumber.el"]
  path = "plugins/cucumber.el"
  url = "https://github.com/michaelklishin/cucumber.el.git"

[submodule "themes/solarized"]
  path = "themes/emacs-color-theme-solarized"
  url = "https://github.com/altercation/solarized.git"
[submodule "themes/zenburn-emacs"]
  path = "themes/zenburn-emacs"
  url = "https://github.com/bbatsov/zenburn-emacs.git"
